.headerContainer {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headerImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  max-width: 1300px;
}
.headerImg img {
  height: 100%;
  width: auto;
}

@media only screen and (max-width: 1300px) {
  .headerImg {
    border-radius: 0px;
  }
}
@media only screen and (max-width: 800px) {
  .headerContainer {
    height: unset;
  }
  .headerImg {
    width: 100%;
    margin-top: var(--headerHeight);
  }
  .headerImg img {
    height: auto;
    width: 120%;
  }
}
